body, html {
  margin: 20px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fcdddf;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

.Incoming {
  width: 100%;
  background-color: #ffcbce;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}


p {
  line-height: 1.6;
}

img {
  padding: 30px;
  width: 280px;
  height: 280px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.2);   
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .Incoming {
    padding: 15px;
  }

  img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .Incoming {
    padding: 10px;
  }

  img {
    width: 175px;
    height: 175px;
  }
}
