body, html {
  margin: 20px;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  padding-top: 0px;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 20px;
}

.Incoming { 
  width: 100%;
  background-color: #fff8eb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.withincoming {
  width: 100%;
  background-color: #fff8eb;
  text-align: left;
}

p {
  line-height: 1.6;
}

img {
  padding: 30px;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .Incoming {
    padding: 10px;
  }

  .withincoming {
    padding: 10px;
  }

}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .Incoming {
    padding: 10px;
  }

  img {
    width: 175px;
    height: 70px;
  }
}

